body{
    background: url("../public/img/bgslash.png");
    background-color: #f1f1f1;
    background-attachment: fixed;
    font: 1rem open sans,sans-serif;
    height: 100%;
}

.App{
    height: 100vh; margin: 0;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

img {
    max-width:100%;
    height: auto
}

.card:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.009);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

li a{
    text-decoration: none;
}